@import "./materialdesignicons.min.css";
@import "./flaticon.css";

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialDesignIcons.woff2") format('woff2');
}

/* latin-ext */
@font-face {
    font-family: lato;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: google-sans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GoogleSans-Regular.ttf");
}

$font-family: google-sans;

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.display-1 {
    font-family: google-sans !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
  
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

a {
    text-decoration: none !important;
}